*{
    margin: 0;
    font-family: Arial; 
    border: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar{
    height: 10vh;
    background-color: #0f1111;
    color:white;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-logo{
    background-image: url(company-navbar-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vh;
    width: 10vh;
    position: absolute;
    left: 10px
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.navbar-links{
    text-decoration: none;
    color: white;
    margin: 10px;
    transition: all 0.2s;
}

.navbar-links:hover{
    color:antiquewhite;
    transform: scale(1.1,1);
}


/* Hero styles */
.hero-main{
    height: 80vh;
    display: flex;
    align-items: center;
}

.hero-img1{
    background-image: url(hero-img1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: left;
    animation: heroImgShow ease-in-out 1s 
}

@keyframes heroImgShow {
    from{
         opacity: 0;
    }
    to{
         opacity: 100;
    }
}

.hero-text{
    height: 100%;
    width: 100%;
    margin: 5%;
    word-wrap: break-word;
    overflow: auto;
    text-overflow: ellipsis;
}

.hero-text1{
    letter-spacing: 0.5rem;
    font-size: 200%;
    font-family: sans-serif;
    text-align: center;
}

.hero-text2{
    text-indent: 20%;
    
    animation: 
    3s linear heroTextShow,
    1s linear slidein;
    
}

@keyframes heroTextShow {
    from{
         opacity: 0;
    }
    to{
         opacity: 100;
    }
}

@keyframes slidein {
    from {
      transform: translateX(10vw);
    }
    to {
      /* transform: translateX(0); */
    }
  }

/* Footer styles */
.footer{
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.footer-address{
    height: 90%;
    width: 30vw;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 80%;
}

.footer-address i{
    font-size: 5vh;
    margin: 5px;
}